  <ion-modal-view>
      <ion-header-bar>
         <h1 class = "title">Chain Store</h1>
         <button class = "button icon icon-right ion-ios-close-outline" 
            ng-click = "closeChainModal()"></button>
      </ion-header-bar>
      <ion-content>
 <form ng-submit="chainStoreUpdate()" >
  <div class="formcontainer">
  
    Name:<input  ng-model="chainStore.name" />
    merchants:<input ng-model="chainStore.merchants" />

     
                 
      

       

     </div>


  </div>     <div class="submit">
      <input type="submit" value="Save" id="form_button" />
    </div>
           </form>

     </ion-content></ion-modal-view>