<ion-modal-view>
      <ion-header-bar>
         <h1 class = "title">Edit Permissions</h1>
         <button class = "button icon icon-right ion-ios-close-outline" 
            ng-click = "closePermModal()"></button>
      </ion-header-bar>
      <ion-content>
 <form  ng-submit="permUpdate()">
     <div class = "row item"  style="text-align:center;"><div class = "col col-50"><ion-checkbox ng-model="permData.status"   ng-true-value="true" ng-false-value="false" >Status</ion-checkbox> </div>
     <div class = "col col-50">

<input   placeholder="permission group[permManager]" ng-model="permData.permissionGroup"  style="width:95%;margin:auto;" required/><span style="color:red">*</span>
     </div>
    </div>
 

   <div class = "row item"  style="text-align:center;">
   <div class = "col col-50"><input   placeholder="subject[Rose]"  ng-model="permData.subject"  style="width:90%" required/><span style="color:red">*</span></div>
   <div class = "col col-50"><input   placeholder="action[New|TOGO]" ng-model="permData.action"  style="width:90%"  required/><span style="color:red">*</span></div>
   </div>


   <div class = "row item"  style="text-align:center;">
   <div class = "col col-50"><input   placeholder="permission[1,2,4,7]"  ng-model="permData.perm"  style="width:90%" required/><inpu<span style="color:red">*</span></div>
   <div class = "col col-50"><input   placeholder="url" ng-model="permData.url"  style="width:90%"/></div>
   </div>
   <div class = "row item">
   <div class = "col col-center" style="text-align:center;">
    <input   placeholder="order" ng-model="permData.order"  style="width:95%;margin:auto;"/>
      </div>
  </div>  
    <div class = "row item">
   <div class = "col col-center" style="text-align:center;">
    <input   placeholder="merchantIds" ng-model="permData.merchantIds"  style="width:95%;margin:auto;"/>
      </div>
  </div>  
    <div class = "row item">
   <div class = "col col-center" style="text-align:center;">
    <input   placeholder="description" ng-model="permData.description"  style="width:95%;margin:auto;"/>
      </div>
  </div>  
<div style="width:100%;text-align:center;margin-top:20px;font-size:600;font-size:30px;">
      <input type="submit" value="Submit">
    </div>
</form>
     </ion-content></ion-modal-view>