<ion-modal-view class="openmodal">
          <ion-header-bar>
             <h1 class = "title">Item</h1>
             <button class = "button icon icon-right ion-ios-close-outline" 
                ng-click = "closeItem()"></button>
          </ion-header-bar>
          <ion-content>
        <div class="formcontainer">
         <div class="icon_wrapper" ng-click="uploadPicture('itemPicture')" > <!-- onerror="defaultImg()"  -->
      <img src="{{CONFIG.path}}/{{appData.item.picture?appData.item.picture:'default.jpg'}}" onerror="defaultImg()" id="itemPictureSrc" alt="Image not found"   width="100px" />
    </div>
     <form enctype="multipart/form-data" method="post" name="itemForm" ng-submit="itemUpdate()" >
    <div style="display:flex; justify-content: space-between;flex-flow:row wrap">
        <input type="file" name="picture" id="itemPicture" style="display:none" onchange="angular.element(this).scope().showPreview(this,'itemForm')"/>
      <input  placeholder="item Name" type="text" ng-model="appData.item.name"  class="clo32 required" required/>
      <input  placeholder="second language" type="text" ng-model="appData.item.language.name.second"   class="clo32" />
      <input  placeholder="third language" type="text" ng-model="appData.item.language.name.third"   class="clo32" />
      <select ng-model="appData.item.category" class="clo23 required">
        
          <option value="{{item._id}}" ng-repeat="item in appData.categorys">{{item.name}}</option>
        </select>


         <input  placeholder="price" type="text" ng-model="appData.item.price"   class="clo23 required" required/>
          <input  placeholder="Order" type="Number" ng-model="appData.item.order"   class="clo23"   step="0.01"/>
      <ion-checkbox ng-model="appData.item.status"  ng-true-value="true" ng-false-value="false"  class="clo23" style="border:0;height:40px;" >Status</ion-checkbox>


      <input  placeholder="Description" type="text" ng-model="appData.item.description"   class="clo32" />
      <input  placeholder="second language" type="text" ng-model="appData.item.language.description.second"   class="clo32" />
      <input  placeholder="third language" type="text" ng-model="appData.item.language.description.third"   class="clo32" />
      
       
   
    
    
</div>
     <div class="submit">
      <input type="submit" value="Save" id="form_button" />
    </div>
  </form>
</div>
         </ion-content></ion-modal-view>